
.navigation{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
 
div{
    flex-grow: 1;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
    margin-left: -40px;
}

.button{
    text-align: center;
}


  .sectionH{
   display: flex;
  }

  .hero{
    display: flex;
    flex-direction: column;
    justify-content: start;
   font-size: 50px;
  }

.headerbtn{
     text-align: center;
     margin-top: -5px;
     margin-bottom: 10px;
}

.hb{
    font-size: 20px;
    padding: 10px 20px 14px 20px;
    color: white;
    background: #8952d7;
}

@media only screen and (max-width: 768px) {
    ul{
        display: none;
    }
    .heroimg{
        display: none;
    }
}
  