*{
 margin: 0;
 padding:0;
 outline:0;
 background-color: #fff;
}


.nav-button{
 background-color: #7566e6;
 border-radius: 0.4em;
 font-size: 1.4em;
 font-weight: 400;
 padding: 0.2em 0.5em;
 text-align: center;
 color: #fff;
 margin-top: 5px;
 margin-right: 100px;
}

.list{
    list-style: none;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 400px;
    margin-left: 60px;
    color: #767171;
}

.list-item:hover{
    color: #1d1d1d;
}

.heading-text{
    font-size: 70px;
}

.nav-buttonbtn{
background-color: #7566e6;
border-radius: 0.4em;
font-size: 1.4em;
font-weight: 400;
padding: 0.8em 0.2em;
text-align: center;
color: #fff;
margin-top: 60px;
margin-right: 200px;
}


 .myimage{
   height: 74vh;
} 

.heading-text{
    text-align: left;
    margin-top: -40px;
    font-size: 80px;
    color: #33155e;
}

span{
    color: #8952d7;
}

.description{
    font-size: 20px;
    margin-top: 30px;
    text-align: left;
    color: #767171;
}
