*{
 margin: 0;
 padding:0;
 outline:0;
 background-color: #fff;
}

.list{
    list-style: none;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 400px;
    margin-left: 60px;
    color: #767171;
}

.list-item:hover{
    color: #1d1d1d;
}

.heading-text{
    font-size: 70px;
}

.text{
    font-size: 70px;
    color: #33155e;
}

span{
    color: #8952d7;
}

.description{
    font-size: 20px;
    margin-top: 30px;
    text-align: left;
    color: #767171;
}

.button-large{
background-color: #7566e6;
border-radius: 0.4em;
font-size: 30px;
font-weight: 200;
padding: 0.5em 0.1em;
text-align: center;
color: #fff;
margin-top: 60px;
margin-right: 200px;
} 